appdirs==1.4.4
asgiref==3.5.1
bleach==3.3.0
build==0.9.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.2
Django==4.0.4
django-pgconnection==1.0.2
django-pgpubsub==0.0.1
django-pgtrigger==2.4.1
docopt==0.6.2
docutils==0.17.1
filelock==3.0.12
idna==2.10
importlib-metadata==4.0.1
keyring==23.0.1
packaging==20.9
pep517==0.10.0
pipenv==2022.1.8
pipreqs==0.4.13
pkginfo==1.8.2
Pygments==2.8.1
pyparsing==2.4.7
readme-renderer==37.3
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
rich==12.4.1
six==1.15.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.60.0
twine==4.0.1
urllib3==1.26.4
virtualenv==20.4.7
virtualenv-clone==0.5.4
webencodings==0.5.1
yarg==0.1.9
zipp==3.4.1
